body{
    background: #f2f4f5;
}

header{
    background: #009688;
    display: flex;
    justify-content: center;
    position: relative;
    padding: 2.5rem 0;
    box-sizing: border-box;
    ul{
        display: flex;
        margin: 0 auto;
        li{
            margin: 0 3.125rem;
        }
    }
    .sousuo{
        position: absolute;
        right: 2.25rem;
    }
    img{
        width: 4.625rem;
        height: 4.5rem;
    }
}


#main{
    .swiper1{
        .swiper-wrapper{
            display: flex;
            justify-content: center;
            .swiper-slide{
                width: 12.5rem;
                text-align: center;
                font: 40px "";
                color: #666666;
                line-height: 6.25rem;
                margin: 0 3.75rem;
            }
            .selected{
                border-bottom: .375rem solid #009688;
            }
        }  
    }
    .swiper2{
        .main-music{
            margin: .9375rem .9375rem;
            .swiper3{
                img{
                    width: 67.5rem;
                    height: 25.3125rem;
                }
            }
        }
        .main-nav{
            display: flex;
            padding: 2.8125rem 0 3.4375rem;
            box-sizing:border-box;
            background: #f2f4f5;
            border-bottom: .0625rem solid #dadcdd;
            li{
                margin:0 3.9375rem;
                img{
                    width: 9rem;
                    height: 9rem;
                    margin-bottom: 1.5625rem;
                }
                i{
                    display: block;
                    text-align: center;
                    line-height: 2.125rem;
                    font: 2.125rem "";
                    color: #303131;
                }
            }
        }
        .recommended-list{
            .title{
                display: block;
                font: 2.8125rem "";
                line-height: 2.8125rem;
                color: #303131;
                margin: 4.375rem 0 2.8125rem;
                padding-left: 1.4375rem;
                text-align: left;
                border-left: .375rem solid #009688;
            }
            ul{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                li{
                    width: 22.25rem;
                    margin-bottom: 3.4375rem;
                    a{
                        img{
                            width: 22.25rem;
                            height: 22.25rem;
                        }
                        p{
                            box-sizing: border-box;
                            padding: 0 3.125rem 0 1.125rem;
                            text-align: left;
                            font: 2.125rem "";
                            line-height: 2.5rem;
                            color: #303131;
                        }
                    }

                }
            }
        }
    }
}

footer{
    position: fixed;
    bottom: 0;
    z-index: 100;
    height: 9.375rem;
    display: flex;
    padding: 1.125rem;
    box-sizing: border-box;
    background: #fbfbfa;
    width: 100%;
    .play-img{
        margin-right: 1.25rem;
        display: flex;
        align-content: center;
        img{
            width: 6.9375rem;
            height: 6.9375rem;
        }
    }
    .song{
        width: 50rem;
        text-align: left;
        .sing{
            
            font: 2.25rem "";
            line-height: 2.25rem;
            color: #333333;
            margin: .625rem 0 1.25rem;
        }
        .singer{
            font: 2rem "";
            line-height: 2rem;
            color: #808080;
        }
    }
    .play{
        text-align: center;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .pausebtn{
            display: none
        }
        svg{
            width: 4.9375rem;
            height: 4.9375rem;
            margin: 0 1.5625rem;
        }       
    }
    
}

#play-page{
    background: radial-gradient(circle, #212051, #3a3c4c, #07070d);
    height: 119.375rem;
    .play-page-header{
        box-sizing: border-box;
        padding:1.875rem 3.3125rem 4.0625rem;
        svg{
            width: 3.75rem;
            height: 3.4375rem;
            margin: 1.5625rem 0;
            color: #fff;
        }
    }
    .cover{
        display: flex;
        justify-content: center;
        img{
            width: 58.75rem;
            height: 58.75rem;
        }
    }
    .page-name{
        text-align: center;
        padding: 4.25rem 0 9.9375rem;
        box-sizing: border-box;
        .page-sing{
            font: 3.125rem "";
            line-height: 5.9375rem;
            color: #fff;
            font-weight: bold;
        }
        .page-singer{
            font: 2.5rem "";
            line-height: 5.25rem;
            color: #878798;
        }
    }
    .schedule{
        height: 2.5rem;
        margin-bottom: 4.375rem;
        padding: 0 3.3125rem;
        box-sizing: border-box;
        display: flex;
        justify-content:  space-between;
        align-items: center;
        
        span{
            font: 1.25rem "";
            line-height: 2.625rem;
        }
        .timeing{
            color: #fff;
        }
        .jinduwrap{
            width: 50rem;
            height: .375rem;
            background: #555561;
            border-radius: 10% 10%;
            margin: 0 2rem;
            .jinduIng{
                display: block;
                width: 0rem;
                height: .375rem;
                background: #009688; 
            }
        }
        .time{
            color: #45444c;
        }
    }
    .pagePlay{
        display: flex;
        justify-content: center;
        svg{
            width: 8.625rem;
            height: 8.625rem;
        }
        .page-pausebtn{
            display: none;
        }
    }
}